<%- include("partials/header"); -%>
    <div class="container-fluid">
        <h1>Compose</h1>
        <input type="text">
        <button type="submit">Publish</button>
    </div>



    <!-- <form class="container-fluid" action="signup.html" method="post" id="signup">
        <h1>Compose</h1>
        <input type="text" id="name" name="name" placeholder="Enter your next post" />
        <button type="submit">Publish</button>
    </form> -->

    <%- include("partials/footer"); -%>