<%- include("partials/header"); -%>
    <!-- <h1>Contact</h1> -->
    <!-- <p> <%= contactContent %> </p> -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 bg-light rounded">
                <h1 class="contact-title text-center font-weight-bold text-dark">Contact Us</h1>

                <div class="mb-3">
                    <label class="form-label label-primary">Full Name</label>
                    <input type="text" class="form-control" placeholder="Jane Doe">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" class="form-control" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comments and/or Questions</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="How can I help..."></textarea>
                </div>

                <div>
                    <input type="submit" name="submit" id="submit" class="btn btn-outline-dark btn-lg download-button mb-2 my-2" value="Send">
                </div>
            </div>
        </div>
    </div>


    <%- include("partials/footer"); -%>